:root {
    --bigtext : #FFFFFF;
    --text : #BBBBBB;
}


a:link {
    color: var(--text);
    text-decoration: none;
}

a:visited {
    color: var(--text);
}

a:hover {
    color: #1270C0;
    text-decoration: underline; 
}
